## Importing Libraries and Data:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
raw_data = pd.read_csv('C:\\Users\\vipul\\Desktop\\Data Science\\Data Sets\\In Hospital Mortality Prediction\\data01.csv')

## Checkpoint 1:

In [3]:
data_all = raw_data.copy()

In [4]:
data_all.head()

,group,ID,outcome,age,gendera,BMI,hypertensive,atrialfibrillation,CHD with no MI,diabetes,...,Blood sodium,Blood calcium,Chloride,Anion gap,Magnesium ion,PH,Bicarbonate,Lactic acid,PCO2,EF
0,1,125047,0.0,72,1,37.588179,0,0,0,1,...,138.750000,7.463636,109.166667,13.166667,2.618182,7.230,21.166667,0.5,40.0,55
1,1,139812,0.0,75,2,NaN,0,0,0,0,...,138.888889,8.162500,98.444444,11.444444,1.887500,7.225,33.444444,0.5,78.0,55
2,1,109787,0.0,83,2,26.572634,0,0,0,0,...,140.714286,8.266667,105.857143,10.000000,2.157143,7.268,30.571429,0.5,71.5,35
3,1,130587,0.0,43,2,83.264629,0,0,0,0,...,138.500000,9.476923,92.071429,12.357143,1.942857,7.370,38.571429,0.6,75.0,55
4,1,138290,0.0,75,2,31.824842,1,0,0,0,...,136.666667,8.733333,104.500000,15.166667,1.650000,7.250,22.000000,0.6,50.0,55

In [5]:
data_all.shape

(1177, 51)

In [6]:
data_all.columns

Index(['group', 'ID', 'outcome', 'age', 'gendera', 'BMI', 'hypertensive',
       'atrialfibrillation', 'CHD with no MI', 'diabetes', 'deficiencyanemias',
       'depression', 'Hyperlipemia', 'Renal failure', 'COPD', 'heart rate',
       'Systolic blood pressure', 'Diastolic blood pressure',
       'Respiratory rate', 'temperature', 'SP O2', 'Urine output',
       'hematocrit', 'RBC', 'MCH', 'MCHC', 'MCV', 'RDW', 'Leucocyte',
       'Platelets', 'Neutrophils', 'Basophils', 'Lymphocyte', 'PT', 'INR',
       'NT-proBNP', 'Creatine kinase', 'Creatinine', 'Urea nitrogen',
       'glucose', 'Blood potassium', 'Blood sodium', 'Blood calcium',
       'Chloride', 'Anion gap', 'Magnesium ion', 'PH', 'Bicarbonate',
       'Lactic acid', 'PCO2', 'EF'],
      dtype='object')

In [7]:
data_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1177 entries, 0 to 1176
Data columns (total 51 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   group                     1177 non-null   int64
 1   ID                        1177 non-null   int64
 2   outcome                   1176 non-null   float64
 3   age                       1177 non-null   int64
 4   gendera                   1177 non-null   int64
 5   BMI                       962 non-null    float64
 6   hypertensive              1177 non-null   int64
 7   atrialfibrillation        1177 non-null   int64
 8   CHD with no MI            1177 non-null   int64
 9   diabetes                  1177 non-null   int64
 10  deficiencyanemias         1177 non-null   int64
 11  depression                1177 non-null   int64
 12  Hyperlipemia              1177 non-null   int64
 13  Renal failure             1177 non-null   int64
 14  COPD                      1177 non-null   int64
 15  heart rate                1164 non-null   float64
 16  Systolic blood pressure   1161 non-null   float64
 17  Diastolic blood pressure  1161 non-null   float64
 18  Respiratory rate          1164 non-null   float64
 19  temperature               1158 non-null   float64
 20  SP O2                     1164 non-null   float64
 21  Urine output              1141 non-null   float64
 22  hematocrit                1177 non-null   float64
 23  RBC                       1177 non-null   float64
 24  MCH                       1177 non-null   float64
 25  MCHC                      1177 non-null   float64
 26  MCV                       1177 non-null   float64
 27  RDW                       1177 non-null   float64
 28  Leucocyte                 1177 non-null   float64
 29  Platelets                 1177 non-null   float64
 30  Neutrophils               1033 non-null   float64
 31  Basophils                 918 non-null    float64
 32  Lymphocyte                1032 non-null   float64
 33  PT                        1157 non-null   float64
 34  INR                       1157 non-null   float64
 35  NT-proBNP                 1177 non-null   float64
 36  Creatine kinase           1012 non-null   float64
 37  Creatinine                1177 non-null   float64
 38  Urea nitrogen             1177 non-null   float64
 39  glucose                   1159 non-null   float64
 40  Blood potassium           1177 non-null   float64
 41  Blood sodium              1177 non-null   float64
 42  Blood calcium             1176 non-null   float64
 43  Chloride                  1177 non-null   float64
 44  Anion gap                 1177 non-null   float64
 45  Magnesium ion             1177 non-null   float64
 46  PH                        885 non-null    float64
 47  Bicarbonate               1177 non-null   float64
 48  Lactic acid               948 non-null    float64
 49  PCO2                      883 non-null    float64
 50  EF                        1177 non-null   int64
dtypes: float64(37), int64(14)
memory usage: 469.1 KB

In [8]:
data_all.isnull().sum()

group                         0
ID                            0
outcome                       1
age                           0
gendera                       0
BMI                         215
hypertensive                  0
atrialfibrillation            0
CHD with no MI                0
diabetes                      0
deficiencyanemias             0
depression                    0
Hyperlipemia                  0
Renal failure                 0
COPD                          0
heart rate                   13
Systolic blood pressure      16
Diastolic blood pressure     16
Respiratory rate             13
temperature                  19
SP O2                        13
Urine output                 36
hematocrit                    0
RBC                           0
MCH                           0
MCHC                          0
MCV                           0
RDW                           0
Leucocyte                     0
Platelets                     0
Neutrophils                 144
Basophils                   259
Lymphocyte                  145
PT                           20
INR                          20
NT-proBNP                     0
Creatine kinase             165
Creatinine                    0
Urea nitrogen                 0
glucose                      18
Blood potassium               0
Blood sodium                  0
Blood calcium                 1
Chloride                      0
Anion gap                     0
Magnesium ion                 0
PH                          292
Bicarbonate                   0
Lactic acid                 229
PCO2                        294
EF                            0
dtype: int64

## Missing Value Removal:

In [9]:
bmi_mean = data_all.BMI.mean()

In [10]:
bmi_mean

30.18827765159043

In [11]:
data_1 = data_all.copy()
data_1['BMI'] = data_1['BMI'].fillna(data_1['BMI'].mean())

In [12]:
data_2 = data_1.copy()
data_2['Urine output'] = data_2['Urine output'].fillna(data_2['Urine output'].mean())

In [13]:
data_3 = data_2.copy()
data_3['Neutrophils'] = data_3['Neutrophils'].fillna(data_3['Neutrophils'].mean())

In [14]:
data_4 = data_3.copy()
data_4['Basophils'] = data_4['Basophils'].fillna(data_4['Basophils'].mean())

In [15]:
data_5 = data_4.copy()
data_5['Lymphocyte'] = data_5['Lymphocyte'].fillna(data_5['Lymphocyte'].mean())

In [16]:
data_6 = data_5.copy()
data_6['Creatine kinase'] = data_6['Creatine kinase'].fillna(data_6['Creatine kinase'].mean())

In [17]:
data_7 = data_6.copy()
data_7['PH'] = data_7['PH'].fillna(data_7['PH'].mean())

In [18]:
data_8 = data_7.copy()
data_8['Lactic acid'] = data_8['Lactic acid'].fillna(data_8['Lactic acid'].mean())

In [19]:
data_9 = data_8.copy()
data_9['PCO2'] = data_9['PCO2'].fillna(data_9['PCO2'].mean())

In [20]:
data_10 = data_9.dropna(axis=0)
data_10.isnull().sum()

group                       0
ID                          0
outcome                     0
age                         0
gendera                     0
BMI                         0
hypertensive                0
atrialfibrillation          0
CHD with no MI              0
diabetes                    0
deficiencyanemias           0
depression                  0
Hyperlipemia                0
Renal failure               0
COPD                        0
heart rate                  0
Systolic blood pressure     0
Diastolic blood pressure    0
Respiratory rate            0
temperature                 0
SP O2                       0
Urine output                0
hematocrit                  0
RBC                         0
MCH                         0
MCHC                        0
MCV                         0
RDW                         0
Leucocyte                   0
Platelets                   0
Neutrophils                 0
Basophils                   0
Lymphocyte                  0
PT                          0
INR                         0
NT-proBNP                   0
Creatine kinase             0
Creatinine                  0
Urea nitrogen               0
glucose                     0
Blood potassium             0
Blood sodium                0
Blood calcium               0
Chloride                    0
Anion gap                   0
Magnesium ion               0
PH                          0
Bicarbonate                 0
Lactic acid                 0
PCO2                        0
EF                          0
dtype: int64

In [21]:
data_all.shape

(1177, 51)

In [22]:
data_10.shape

(1127, 51)

## Checkpoint 2: Data with no Missing Values:

In [23]:
data_with_no_missing = data_10.copy()

In [24]:
data_with_no_missing.describe(include='all')

,group,ID,outcome,age,gendera,BMI,hypertensive,atrialfibrillation,CHD with no MI,diabetes,...,Blood sodium,Blood calcium,Chloride,Anion gap,Magnesium ion,PH,Bicarbonate,Lactic acid,PCO2,EF
count,1127.000000,1127.000000,1127.000000,1127.000000,1127.000000,1127.000000,1127.000000,1127.000000,1127.000000,1127.000000,...,1127.000000,1127.000000,1127.000000,1127.000000,1127.000000,1127.000000,1127.000000,1127.000000,1127.000000,1127.000000
mean,1.299024,150790.869565,0.138421,73.990240,1.525288,30.263229,0.716948,0.455191,0.081633,0.425022,...,138.941932,8.501636,102.305968,13.936520,2.122485,7.378620,26.926033,1.856827,45.503245,48.711624
std,0.458034,29125.429538,0.345494,13.422129,0.499582,8.534342,0.450682,0.498209,0.273926,0.494566,...,4.136770,0.570595,5.320198,2.670884,0.252190,0.058692,5.215141,0.892948,11.080803,12.940748
min,1.000000,100213.000000,0.000000,19.000000,1.000000,13.346801,0.000000,0.000000,0.000000,0.000000,...,114.666667,6.700000,80.266667,6.636364,1.400000,7.090000,12.857143,0.500000,18.750000,15.000000
25%,1.000000,125458.000000,0.000000,65.000000,1.000000,25.286590,0.000000,0.000000,0.000000,0.000000,...,136.714286,8.150000,99.000000,12.240385,1.955556,7.349365,23.444444,1.300000,39.000000,40.000000
50%,1.000000,151973.000000,0.000000,77.000000,2.000000,30.188278,1.000000,0.000000,0.000000,0.000000,...,139.285714,8.500000,102.533333,13.714286,2.100000,7.378532,26.444444,1.800000,45.535382,55.000000
75%,2.000000,176195.000000,0.000000,85.000000,2.000000,32.224592,1.000000,1.000000,0.000000,1.000000,...,141.620192,8.869375,105.563492,15.422619,2.244949,7.410000,30.000000,2.025000,47.361111,55.000000
max,2.000000,199952.000000,1.000000,99.000000,2.000000,104.970366,1.000000,1.000000,1.000000,1.000000,...,154.736842,10.950000,122.526316,25.500000,4.072727,7.580000,47.666667,8.333333,98.600000,75.000000

In [25]:
data_with_no_missing.head()

,group,ID,outcome,age,gendera,BMI,hypertensive,atrialfibrillation,CHD with no MI,diabetes,...,Blood sodium,Blood calcium,Chloride,Anion gap,Magnesium ion,PH,Bicarbonate,Lactic acid,PCO2,EF
0,1,125047,0.0,72,1,37.588179,0,0,0,1,...,138.750000,7.463636,109.166667,13.166667,2.618182,7.230000,21.166667,0.500,40.000000,55
2,1,109787,0.0,83,2,26.572634,0,0,0,0,...,140.714286,8.266667,105.857143,10.000000,2.157143,7.268000,30.571429,0.500,71.500000,35
3,1,130587,0.0,43,2,83.264629,0,0,0,0,...,138.500000,9.476923,92.071429,12.357143,1.942857,7.370000,38.571429,0.600,75.000000,55
5,1,154653,0.0,76,1,24.262293,1,1,0,0,...,136.250000,8.466667,96.750000,13.125000,1.771429,7.310000,30.500000,0.600,65.500000,35
6,1,194420,0.0,72,1,39.667426,1,0,0,0,...,144.133333,8.775000,106.666667,15.200000,1.875000,7.169231,26.800000,0.625,69.769231,55

## Checkpoint 3:

In [26]:
data_no_id = data_with_no_missing.drop(['ID'],axis=1)
data_no_id.head()

,group,outcome,age,gendera,BMI,hypertensive,atrialfibrillation,CHD with no MI,diabetes,deficiencyanemias,...,Blood sodium,Blood calcium,Chloride,Anion gap,Magnesium ion,PH,Bicarbonate,Lactic acid,PCO2,EF
0,1,0.0,72,1,37.588179,0,0,0,1,1,...,138.750000,7.463636,109.166667,13.166667,2.618182,7.230000,21.166667,0.500,40.000000,55
2,1,0.0,83,2,26.572634,0,0,0,0,1,...,140.714286,8.266667,105.857143,10.000000,2.157143,7.268000,30.571429,0.500,71.500000,35
3,1,0.0,43,2,83.264629,0,0,0,0,0,...,138.500000,9.476923,92.071429,12.357143,1.942857,7.370000,38.571429,0.600,75.000000,55
5,1,0.0,76,1,24.262293,1,1,0,0,1,...,136.250000,8.466667,96.750000,13.125000,1.771429,7.310000,30.500000,0.600,65.500000,35
6,1,0.0,72,1,39.667426,1,0,0,0,0,...,144.133333,8.775000,106.666667,15.200000,1.875000,7.169231,26.800000,0.625,69.769231,55

In [27]:
data_no_id.columns

Index(['group', 'outcome', 'age', 'gendera', 'BMI', 'hypertensive',
       'atrialfibrillation', 'CHD with no MI', 'diabetes', 'deficiencyanemias',
       'depression', 'Hyperlipemia', 'Renal failure', 'COPD', 'heart rate',
       'Systolic blood pressure', 'Diastolic blood pressure',
       'Respiratory rate', 'temperature', 'SP O2', 'Urine output',
       'hematocrit', 'RBC', 'MCH', 'MCHC', 'MCV', 'RDW', 'Leucocyte',
       'Platelets', 'Neutrophils', 'Basophils', 'Lymphocyte', 'PT', 'INR',
       'NT-proBNP', 'Creatine kinase', 'Creatinine', 'Urea nitrogen',
       'glucose', 'Blood potassium', 'Blood sodium', 'Blood calcium',
       'Chloride', 'Anion gap', 'Magnesium ion', 'PH', 'Bicarbonate',
       'Lactic acid', 'PCO2', 'EF'],
      dtype='object')

## Creating Inputs and Targets:

In [28]:
x = data_no_id.drop(['outcome'],axis=1)
y = data_no_id['outcome']

## Scaling:

In [29]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x)
x_scaled = scaler.transform(x)
targets = np.array(y)

## Train Test Split:

In [31]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x_scaled,targets,test_size=0.20,random_state=42)

## Model Building:

In [32]:
from sklearn.linear_model import LogisticRegression
reg = LogisticRegression()
reg.fit(x_train,y_train)
reg.score(x_train,y_train)

0.897891231964484

## Train Accuracy:

In [33]:
y_hat=reg.predict(x_train)
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_train,y_hat)
print(cm)
accuracy_score(y_train,y_hat)

[[760  14]
 [ 78  49]]

0.897891231964484

## Testing:

In [34]:
y_pred = reg.predict(x_test)
from sklearn.metrics import confusion_matrix, accuracy_score
cm2 = confusion_matrix(y_test,y_pred)
print(cm2)
accuracy_score(y_test,y_pred)

[[192   5]
 [ 20   9]]

0.8893805309734514